<h1>Beer Labels</h1>

<table>
  <thead>
    <tr>
      <th>Beer Name</th>
      <th>Brewery</th>
      <th>Origin</th>
      <th>Description</th>
      <th>Tag</th>
    </tr>
  </thead>

  <tbody>
    <% @beer_labels.each do |label| %>
    <tr>
      <td><%= image_tag label.image_url(:index_thumb).to_s if label.image_url.present? %></td>
      <td><%= label.beer_name %></td>
      <td><%= label.brewery %></td>
      <td><%= label.origin %></td>
      <td><%= label.description %></td>
      <td><%= label.tag %></td>
      <td><%= link_to 'Destroy', beer_label_path(label), method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>

    <%- end -%>
  </tbody>
</table>

