<p>
  <strong>Beer Label <%= Vote.score(@beer_label) %></strong>
  <%= image_tag @beer_label.image_url(:thumb).to_s %>
</p>

 <%= link_to "Like", upvote_beer_label_path %>

 <%= link_to "Dislike", downvote_beer_label_path %>

<p>
  <strong>Beer Name</strong>
  <%= @beer_label.beer_name %>
</p>

<p>
  <strong>Brewery</strong>
  <%= @beer_label.brewery %>
</p>

<p>
  <strong>Origin</strong>
  <%= @beer_label.origin %>
</p>

<p>
  <strong>Description</strong>
  <%= @beer_label.description %>
</p>

<p>
  <strong>Tag</strong>
  <%= @beer_label.tag %>
</p>

<h2>Add a comment:</h2>
  <%= render "comments/form" %>

  <h2>Comments</h2>
  <%= render @beer_label.comments %>


<%= link_to 'Back to Beer Label', beer_labels_path %>
